* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    h1 {
        font-family: "Fredoka", sans-serif;
        font-optical-sizing: auto;
        font-weight: bolder;
        color: #FEA42E;
        font-size: 2.5rem;
    }

    p {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .btn-global {
        border: none;
        border-radius: 5rem;
        color: white;
        font-size: 1rem;
        background-color: #D29E36;
        padding: 0.55rem;
        width: 12rem;
        cursor: pointer;


        .content-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.2rem;
        }

        .seta {
            background-color: #F6C57F;
            padding: 0.5rem;
            width: 2rem;
            height: 2rem;
            border: none;
            border-radius: 50%;
            align-items: center;
            display: flex;
            justify-content: center;

            img {
                width: 0.78rem;
                height: 0.78rem;
            }
        }
    }

    .subtitulo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 1rem;

        .txt-subtitulo {
            font-family: "Fuzzy Bubbles", sans-serif;
            font-weight: 1000;
            color: #4D95F4;
        }

        hr {
            width: 2.6rem;
            border: #557FF4 solid 1.2px;
        }
    }


}

html,
body {
    scroll-behavior: smooth;
    background: linear-gradient(90deg, #F9F9F9, #ECF7FF);
}

/* inicio Hero section */
.container-heroSection {
    height: 49vh;
    position: relative;
    z-index: 2;
    overflow-y: hidden;
}

.content-hero {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;


}

.text-hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 0.5rem;

    .descricao {
        width: 35rem;
        text-align: center;
        opacity: 70%;
    }


    .btn-doeAgora {
        margin-top: 0.8rem;
    }
}

.mascote-hero {
    width: 21rem;
    margin-top: 5rem;
    /* rotate: -12deg; */
    /* transform: rotateY(180deg); */
}



.background-hero {
    width: 100%;
    height: 100%;
    opacity: 41%;
    position: absolute;
    z-index: 0;

}

/* final Hero section */



/* inicoo pq doar */
.container-pqDoar {
    margin-top: 5rem;
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.imagens-pqDoar {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    img {
        width: 20rem;
        height: 20rem;
        object-fit: cover;
        border-radius: 100%;
    }
}

.content-pqDoar {
    display: flex;
    flex-direction: column;
    gap: rem;
    align-items: center;
}

.text-pqDoar {
    display: flex;
    flex-direction: column;
    gap: rem;
    /* text-align: center; */
    /* justify-content: center; */
    align-items: center;

    h1 {
        width: 40rem;
        text-align: center;
        font-size: 4rem;
        margin-bottom: 1rem;
    }

    p {
        /* width: 41.5rem; */
        /* flex-wrap: wrap; */
        /* margin-left: 17rem; */
        /* align-items: center; */
        /* text-align: center; */
        max-width: 47.5rem;
        /* margin-top: 1rem; */
    }
}

.cards-pqDoar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.3rem;
    margin-top: 2rem;
    /* margin: 2rem auto 0 auto; */
}


.card {
    display: flex;
    flex-direction: column;
    padding: 1.3rem;
    gap: 0.4rem;
    border-radius: 1rem;
    background: #dfecfa;
    width: 23rem;
    height: 100%;

    p {
        opacity: 63%;
        font-size: 0.95rem;
    }

    .titulo-cardPqdoar {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        h1 {
            color: #578af8;
            font-size: 1.3rem;
        }
    }
}

/* fim seção pq doar  */



/* Inicio mascote */
.container-mascote {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 15rem;
}

.text-title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 3.5rem;
    }

    p {
        text-align: center;
        max-width: 46.5rem;
        opacity: 70%;
        font-size: 1.1rem;
    }
}

.content-mascote {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.mascote {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;

    .gif-mascote {
        width: 25rem;
        margin-top: -3rem;
    }
}

.balao-pensamento {
    width: 25rem;
    height: 10rem;
    background: url("/img/balão de pensamento.svg") no-repeat center/contain;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem;
    /* espaço interno pro texto não colar na borda */
    margin-left: 12rem;

    p {
        font-size: 0.9rem;
        opacity: 80%;
    }
}

.sobre-mascote {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 8rem;
}

.fala {
    background: url("/img/balão de fala.svg") no-repeat center/contain;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem;    width: 28rem;

    /* height: 20rem;  */
    p {
        max-width: 35rem;
        font-size: 0.9rem;
        font-style: italic;
        color: white;
    }

    span{
        color:#8AB1FF;
    }
}

.card-sobre{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    background-color: #D0E0FF;
    padding: 1.7rem;
    border-radius: 0.7rem;
    width: 35rem;

    h1{
        color: #6899FF;
        font-size: 2.3rem;
    }
    span{
        color: #529DFF;
        font-size: 1.1rem;
        font-weight: bolder;
           font-family: "Poppins", sans-serif;
    
        
    }

    p{
        font-size: 1rem;
        opacity: 90%;
    }
}
/* fim seção mascote */


/* inicio seção frases */
.frases{
    display: flex;
    gap: 1rem;
    margin-top: 9rem;
    width: max-content;
    animation: rolagem 28s infinite linear;

    p{
        font-size: 1.8rem;
        font-weight: bolder;
        opacity: 50%;
    }
}

@keyframes rolagem {
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-50%);
    }
}
/* fim frases */



/* inicio seção ranking */
.container-ranking{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
     background-image: url("/img/fundo ranking pag Inicial.svg");
    background-repeat: no-repeat;
    background-size: cover;   /* cobre toda a seção */
    background-position: center; /* centraliza */
    height: 60rem;

    .background-ranking{
        border-radius: 2rem;
        position: absolute;
        z-index: 0;
          /* height: 60rem; */
        
    }
}

.txt-titulo{
   
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    justify-content: center;
    align-items: center;

    .titulo-ranking{
        display: flex;
        align-items: center;
        gap: 0.4rem;
        margin-top: 2rem;

        h1{
            font-size: 3rem;
        }

        img{
            width: 3rem;
        }

    }

    p{
        max-width: 51rem;
        text-align: center;
        font-size: 1.05rem;
        opacity: 77%;
    }
}




.estatisticas-ranking {
    display: flex;
    justify-content: center;
    gap: 8rem;
    margin-top: 3rem;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;

    @media(max-width: 500px) {
        flex-wrap: wrap;
        gap: 2rem;
        margin-right: 0.5rem;

    }
}

.dado {
    display: flex;
    flex-direction: column;

    h2 {

        font-family: "Inter", sans-serif;
        font-weight:900;
        color: rgb(0, 0, 0);
        font-size: 8vh;
        text-align: center;
        opacity: 78%;
    }

    p {
        font-size: 1rem;
        opacity: 80%;
    }

}

.cards-ranking{
    margin-left: 5rem;
    margin-top: 5rem;
    display: flex;
    gap: 4rem;
    align-items: center;
    overflow-y: hidden;
    /* height: 40rem; */
    height: 520px;

    .mascote-ranking{
        width: 25rem;
        animation: pulo 3s infinite ;

    }

}

@keyframes pulo{
 0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(5%);

  }
    }

.grade-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-height: 22rem;
    gap: 1rem;
}
.card-ranking{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.9rem;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg,#F8E4BC,#FFD37C);
    padding: 1.1rem;
    border-radius: 0.8rem;
    width: 17rem;
    /* height: 23rem; */
    text-align: center;


    img{
        width: 6rem;
        height: 6rem;
        object-fit: cover;
        border-radius: 50%;
    }

    h1{
        font-size: 1.85rem;
        color:#0058C3;
    }

    p{
        font-size: 0.9rem;
        opacity: 70%;

    }

    .btn-card{
        border: none;
        border-radius: 10rem;
        cursor: pointer;
        width: 10rem;
        padding: 0.75rem;
        background: #0058C3;
        color: white;
        font-size: 1rem;
        font-weight: 700;
    }
}
/* fim seção ranking */


/* inicio seção dúvidas */
.container-duvidas{
    display: flex;
    gap: 7rem;
    margin-top: 20rem;
}

.imagens-duvida{
    .img1{
        position: absolute;
        z-index: 0;
        width: 20rem;
    }

    .img2{
        position: relative;
        z-index: 2;
        width: 22rem;
        margin-top: 17rem;
        margin-left: 5rem;
    }
}

.FAQ{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    h1{
        font-size: 2.5rem;
    }
}

.accordions-geral{
    display: flex;
    flex-direction: column;
    gap:1rem
}

.accordion{
    width: 50rem;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
     box-shadow: rgba(0, 76, 108, 0.24) 0px 3px 8px;
     cursor: pointer;
}


.pergunta-accordion{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    background: transparent;
    cursor: pointer;
    overflow: hidden;
    

    span{
        font-size: 1.1rem;
        font-family: "Fredoka", sans-serif;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

    }

}

.resposta-accordion{
    font-size: 0.9rem; 
    color: #444;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.4s ease;
}

.ativo{
    opacity: 1;
    height: 100%;    
}

.seta{
    transition:transform 0.3s linear;
}

.accordion:has(.ativo) .seta{
    transform: rotate(180deg);
}

/* fim seção dúvidas */



/* inicio seção table rank */
.container-tableRank{
    margin-top: 10rem;
    align-items: center;
    display: flex;
    justify-content: center;
    /* .background-tableRank{
        width: 100%;
        border-radius: 3rem;
        object-fit: cover;
    } */
}

.grade-tabela{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    background-color: #3366B3;
    padding: 2.5rem;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
    width: 28rem;
}

.turma{
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 1.2rem;
    background-color: #dadada;
    width: 18rem;
    border-radius: 1.4rem;
    font-size: 1.05rem;
   
    .colocacao, p{
        font-weight: bold;
    }
   
    img{
        width: 3.5rem;
        height: 3.5rem;
    }

    
}

.turma1{
    background-color: #FFC43B;
    padding: 0.3rem;
    gap: 1.5rem;
}

.turma2{
    background-color: #FFC43B;
    padding: 0.3rem;
    gap: 1.5rem;
}

.turma3{
    background-color: #E47200;
    padding: 0.3rem;
    gap: 1.5rem;
}


/* inicio seção feedbacks */
.container-feedbacks {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;

}

.titulo-feedbacks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    h1 {
        font-size: 3.5rem;
    }

    p {
        max-width: 50rem;
        text-align: center;
        font-size: 0.95rem;
        opacity: 80%;
    }
}


.swiper {
    width: 80%;
    padding-bottom: 6rem;
    height: rem;
}


.swiper-slide {
    display: flex;
    flex-direction: column;

    padding: 1rem;
    border-radius: 0.8rem;
    background: linear-gradient(180deg, #C5E5FF, #BEDCF8);

    p {
        max-width: 30rem;
    }
}

.person-feedback {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;

    img {
        width: 3rem;
        height: 3rem;
        object-fit: cover;
        border-radius: 50%;

    }

    .name-function {
        /* display: flex;
        flex-direction: column; */


        p {
            font-size: 1rem;
        }

        span {
            font-family: "Poppins", sans-serif;
            opacity: 70%;
            font-size: 0.9rem;
        }
    }
}


.swiper-button-prev,
.swiper-button-next {
    background-color: #fff;
    width: 25px;
    height: 25px;
    color: #3758f9;
    border: 1px solid #f9fafb;
    border-radius: 100%;
    box-shadow: 0px 0px 20px 0px rgba(92, 115, 160, 0.2);
}

.swiper-button-prev::after {
    /* content: '\  ' ; */
    font-family: 'Font Awesome 5 free';
    font-weight: 900;
    font-size: 14px;
}

.swiper-button-next::after {
    /* content: '\f054'; */
    font-family: 'Font Awesome 5 free';
    font-weight: 900;
    font-size: 14px;
}

.swiper-button-prev {
    left: 3px;
}

.swiper-button-next {
    right: 3px;
}

.swiper-pagination.active {
    background-color: #3758f9;
}

/* fim seção feedbacks */


/* inicio seção como ajudar */
.container-comoAjudar{
    margin-top: 8rem;
    background: url('/img/background como ajudar.png') no-repeat center/contain;
    width: 100%;
    padding: 6rem;
}

.content-comoAjudar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    position: relative;
    z-index: 2;
    /* margin-top: rem; */

    h1{
        font-size: 3.1rem;
    }
}

.topicos{
display: flex;
align-items: center;
gap: 1rem;

hr{
    width: 2.5rem;
    border: solid 1.4px black;
    
}
}

.topic{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;

    img{
        padding: 1.2rem;
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
    }

    .img-leite{
        width: 5.5rem;
        height: 5.5rem;
    }

    .img-loc{
        width: 5.3rem;
        height: 5.3rem;
    }

    .img-podio{
        width: 5rem;
        height: 5rem;
    }

    .img-transforme{
        width:8rem;
        height:8rem;
    }

    h2{
        font-size: 1.3rem;
        font-weight: 900;
        color: #45619B;
        font-family: "Fredoka", sans-serif;

    }

    p{
        font-size: 0.9rem;
        opacity: 90%;
        width: 17rem;
        text-align: center;
    }

    .p2{
        width: 30rem;
        font-size: 1.05rem;

    }
}





.background-comoAjudar{
    width: 100%;
    /* height: 100rem; */
    position: absolute;
    z-index: 0;

}




/* .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
} */
