* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    h1 {
        font-family: "Fredoka", sans-serif;
        font-optical-sizing: auto;
        font-weight: bolder;
        color: #FEA42E;
        font-size: 2.5rem;
    }

    p {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .btn-global{
        border: none;
        border-radius: 5rem;
        color: white;
        font-size: 1rem;
        background-color: #D29E36;
        padding: 0.55rem;
        width: 12rem;
        cursor: pointer;


        .content-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.2rem;
        }

        .seta{
            background-color: #F6C57F;
            padding: 0.5rem;
            width: 2rem;
            height: 2rem;
            border: none;
            border-radius: 50%;
            align-items: center;
            display: flex;
            justify-content: center;

            img{
                width: 0.78rem;
                height: 0.78rem;
            }
        }
    }
}

html, body{
    scroll-behavior: smooth;
    background: linear-gradient(90deg, #F9F9F9, #ECF7FF);
}

.container-heroSection{
    height: 70vh;
    position: relative;
    z-index: 2;
}

.content-hero{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.text-hero{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    .descricao{
        width: 35rem;
        text-align: center;
        opacity: 70%;
    }
    

    .btn-doeAgora{
        margin-top:0.8rem;
    }   
}

.mascote-hero{
    width: 20rem;
    margin-top: 5rem;

    /* transform: rotateY(180deg); */
}

.background-hero{
    width: 100%;
    height:100%;
    opacity: 41%;
    position: absolute;
    z-index: 0;

}



.container-pqDoar{
    margin-top: 60rem;
}
