*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    top: 0;
    z-index: 1000;
    position: fixed;
}

.content-header{
     /* max-width: ; */
    /* margin: 0 auto; */
    padding: 12px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    color: #4A90E2;
    font-size: 24px;
    font-weight: 500;
}

.logo img {
    height: 55px;
    margin-right: 8px;
}

.nav-menu {
    display: flex;
    gap: 15px;
}

.nav-item {
    text-decoration: none;
    color: #333;
    font-weight: 400;
    font-size: 1.15rem;
    padding: 2.5px 11px;
    border-radius: 6px;
    
    transition: background-color 0.3s;
            font-family: "Poppins", sans-serif;
}

.nav-item.ativo {
    background-color: #F8B400;
    color: #000000;
    font-weight:bolder;
}

.nav-item:not(.ativo):hover {
    background-color: #e2e2e2;
}



.btn-menu{
    display: none;
    border: none;
    background: transparent;
    cursor: pointer;

    /* img{
        width: 2.3rem;
        height: 2.3rem;
    } */
}

.btn-close{
    display: none;
}


@media(max-width:960px){
    .btn-menu{
        display: flex;
    }

    .nav-menu{
        position: fixed;
        top: 0;
        left: 0;
        background: rgb(214, 228, 250);
        height: 20vh;
        flex-direction: column;
        width: 50%;
        align-items: center;
        padding: 12px;
        transition: transform 0.3s ease;
        transform: translateX(-100%);
    }

    .logo{
        flex: 1;
        align-items: center;
        justify-content: center;
        display: flex;
        padding-right: 2rem;
    }

    .btn-close{
        display: flex;
        align-self: flex-end;
         background: transparent;
            border: none;
        img{
           
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    .open{
        transform:translateX(0);
    }
}